.mbox{
    background-color: #421c65;
    border-radius: 4px;
    color: white;
    font-family: monospace;
    font-size: larger;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}   
.warning{
      font-family: monospace;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    color: red;
}   